@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
body, html {
    height: 100%;
    margin: 0;
    font-family: 'Bitter', serif;
}

:root {
    --primary-color: white;
    --secondry-color: #000000;
    --main-color: #754ef9;
}

#header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 1px 5px 2px rgb(199, 195, 195);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#header .header-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    margin-left: 10px;
 
}

#header .header-logo span {
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--main-color);
    text-shadow: 1px 0 1px rgb(159, 157, 157); 
    padding-left: 10px;
   
}

#header .header-logo i {
    font-size: 18px;
    color: var(--main-color);
    display: none;    
}

#header .nav-bar {
    text-align: right;
    display: flex;
    height: 100%;
    justify-content: flex-end;
    align-items: center;

}

#header .nav-bar a {
    display: block;
    position: relative;
    font-size: 1rem;
    text-decoration: none;
    color: var(--main-color);
    margin-right: 20px;
    line-height: 50px;
    
}

#header .nav-bar a::after {
    content: "";
    width: 0;
    height: .1rem;
    position: absolute;
    top: 34px;
    left: 0;
    background-color: var(--main-color);
    transition: .5s all;
}

#header .nav-bar a:hover::after {
    content: "";
    width: 100%;
    height: .1rem;
    position: absolute;
    top: 34px;
    left: 0;
    background-color: var(--main-color);
}

@media only screen and (max-width: 767px) {
    #header{
        height: 50px;
    }
    #header .nav-bar {
        padding-top: 30px;
        display: none;
        width: 100%;
        height: auto;
        text-align: center;
        position: fixed;
        background-color: rgb(255, 255, 255);
        box-shadow: 0 1px 5px 2px rgb(199, 195, 195);
        top: -100%;
        left: 0;
        z-index: -2;
        transition: 1s all;
    }

    #header .nav-bar.show {
        top: 0;
        display: block;
    }

    #header .nav-bar.hide {
        top: -100%;
        display: none;
    }

    #header .nav-bar a {
        width: auto;
        display: block;
        text-decoration: none;
        color: var(--main-color);
        opacity: .9;
        transition: 0s;
        font-size: 16px;
        padding: 10px;
       
    }

    #header .nav-bar a:hover {
        color: var(--main-color);
        opacity: 1;
        text-shadow: 1px 1px 1px rgb(112, 112, 112);
    }

    #header .nav-bar a::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 30px;
        left: 7px;
        background-color: var(--main-color);
        transition: 0s all;
        color: var(--main-color);
    }

    #header .nav-bar a:hover::after {
        content: "";
        width: 0;
        height: 0;
        position: absolute;
        top: 30px;
        left: 7px;
        background-color: var(--main-color);
        color: var(--main-color);
        opacity: 1;
    }

    #header .header-logo i {
        display: block;
        font-size: 25px;
        margin-right:20px;
    }
}
 .bg-image {
    
    background-image: url("img3.jpg");
    filter: blur(2px);
    -webkit-filter: blur(2px);

    height: 100%; 
    width:100%;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
    
/* Position text in the middle of the page/image */

.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0, 0, 0, 0.664); 
    color: white;
    font-weight: bold;
    border: 3px solid var(--main-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9;
    width: 80%;
    padding: 20px;
    text-align: center;
}

.bg-text h1 span {
    font-size:3.5rem;
    color:var(--main-color);
    text-shadow: 1px 0 1px var(--main-color);
}
.bg-text p span {
    font-size: 1.5rem;
    color: var(--main-color);
    text-shadow: 1px 0 1px var(--main-color);
}
 
#home {
    z-index: 99;
    padding-top: 4%;
}
#home #personal-info-section {
    margin-top: 20%;
}
#home #personal-info-section h3 {
    margin-bottom: .8rem;
    font-size: 1.5rem;
   
}
#home #personal-info-section h1 {
    font-size: 2.7rem;
    color: var(--main-color);
    text-shadow: 1px 0 2px var(--main-color);
    
}
#home #personal-info-section h2{
    font-size: 1.6rem;
    padding-left: .5rem;
    padding-top: .5rem;
   
}
#home #personal-info-section h2 span{
    font-size: 2.1rem;
    color: var(--main-color);
    text-shadow: 1px 0 1px var(--main-color);
    
}
#home #personal-info-section p {
    margin-top: 2rem;
    padding-left: .5rem;
    font-size: 1rem;
    color: #525252;
    text-shadow: 0 0 1px rgb(172, 172, 172);
    
}
#home #personal-info-section .social-media {
    padding-left: .5rem;
    padding-top: 40px;
    color: var(--main-color);
}
#home #personal-info-section .social-media a {
    text-decoration: none;
    color: var(--main-color);
}
#home #personal-info-section .social-media a #whatsapp {
    font-size: 25px;
   
}
#home #personal-info-section .social-media a i {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    font-size: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
    border: 2px solid var(--main-color);
    border-radius: 50%;
    text-shadow: 1px 2px 2px rgb(155, 157, 255);
    transition: .5s all;
    
}
#home #personal-info-section .social-media i:hover {
    cursor: pointer;
    background-color: var(--main-color);
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 2px rgb(0, 0, 0);

}
#home #personal-info-section #cv {
    margin-top: 40px;
    padding-left: .5rem;
}
#home #personal-info-section #cv a button {
    cursor: pointer;
    width: 200px;
    height: 50px;
    font-size: 20px;
    color: white;
    background-color: var(--main-color);
    border: 3px solid var(--main-color);
    border-radius: 10px;
    box-shadow: 2px 3px 3px rgb(112, 112, 112);
    transition: .5s all;
 
}
#home #personal-info-section #cv a button:hover {
    background-color: transparent;
    border: 3px solid var(--main-color);
    color: var(--main-color);
}
#home #profile-info-right {
    width: 100%;
    height: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
}

#home #profile-info-right .profile-info-box1 {
    width: 330px;
    height: 450px;
    background: var(--main-color);
    margin: auto;
    border-radius: 50% 10%;
    overflow: hidden;
    padding: 0;
    position: relative;
  
    
}
#home #profile-info-right .profile-info-box1 img {
    position: absolute;
    top: -15px;
}
#about{
    margin-top: 5%;
    padding-top: 50px;
    position: relative;
    
}
#about #about-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;   
}
#about #about-logo span{
    display: block;
    width: 100px;
    font-size: 30px;
    text-align: center;
    border-bottom:3px double var(--main-color);
    color: var(--main-color);
    
}
#about #about-img-section {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    margin-bottom: 5%;   
} 
#about #about-img-section .about-img-box{
    width: 330px;
    height: 450px;
    border: 5px solid var(--main-color);
    border-radius: 10% 50%;
    box-shadow: 4px 3px 5px var(--main-color);
    overflow: hidden;
    position: relative;
    padding: 0;
    margin: auto;
    
}
#about #about-img-section .about-img-box img {
    position: absolute;
    top: -15px;
}
#about #about-profile-section{
    width: 100%;
    margin-top: 5%;
}
#about #about-profile-section h1{
    font-size: 2.3rem;
   
}
#about #about-profile-section h1 span {
    color: var(--main-color);
    text-shadow: 1px 0 1px var(--main-color);

}

#about #about-profile-section p{
    font-size: 1.2rem;
    color: #4a4949;
    padding-left: .5rem;
    letter-spacing: 1px;
    word-spacing: 2px;
    
    
}


#about #about-profile-section p span{
    display: block;
    color: var(--main-color);
    text-align: center;
    font-size: 15px;
    
}
#service{
    margin-top: 5%;
    padding-top: 50px;
    margin-bottom: 5%;
}
#service #service-logo{
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;
}
#service #service-logo span {
    display: block;
    width: 110px;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px double var(--main-color);
    color: var(--main-color);
   
}
#service #service-box{
    margin: 10px;
    min-height: 180px;
    padding: 5px;
    border-radius: 20px;
    background-color: rgba(207, 207, 207, 0.5);
    box-shadow: 0 0 10px 1px rgb(121, 121, 121);
    text-align: center;
   
}

#service #service-box i{
    font-size: 30px;
    color: var(--main-color);
}
#service #service-box h4{
    color: var(--main-color);
}
#service #service-box p{
    color: rgb(76, 76, 76);
    letter-spacing: 1px;
    word-spacing: 3px;
}
#contact{
    margin-top: 5%;
    padding-top: 50px;
    margin-bottom: 10%;
    
}
#contact #contact-logo {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
    width: 100%;
}
#contact #contact-logo span {
    display: block;
    width: 110px;
    font-size: 30px;
    text-align: center;
    border-bottom: 3px double var(--main-color);
    color: var(--main-color);
    
}
#contact form{
    width: 100%;
    height: auto;
    background-color: #bdbdbd;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 0 0 5px 2px rgb(140, 136, 136);
} 
#contact form #form-logo{
    width: 100%;
    text-align: center;
} 
#contact form #form-logo span{
    color: #000000;
    font-size: 20px;
} 
#contact form #name{
    width: 100%;
    border: 1px solid rgb(197, 195, 195);
    border-radius: 3px;
    margin: 10px 0;
}
#contact form #name:focus{
   
   outline: 2px solid rgb(90, 136, 234);
   border-radius: 2px;
   border: none;

}
#footer{
    width: 100%;
    min-height: 70px;
    box-shadow: 0 -1px 3px rgb(173, 171, 171);
    display: flex;
    padding:  10px 5px;
    align-items: center;
    text-align: center;
}
@media only screen and (max-width: 767px){
    #about{
        padding-top: 50px;
    }
    #service{
        padding-top: 50px;
    }
    #contact{
        padding-top: 50px;
    }
}
@media only screen and (max-width: 500px) {
    #home #personal-info-section h3 {
        font-size: 1.4rem;
        margin-bottom: 1.2rem;
        padding-top: 1rem;
    }
    #home #personal-info-section h1 {
        font-size: 1.6rem;
        text-shadow: 1px 0 1px var(--main-color);
        color: var(--main-color);
    }
    #home #personal-info-section h2 {
        font-size: 1.3rem;
        padding-left: .5rem;
        padding-top: .6rem;
    }
    #home #personal-info-section h2 span {
        font-size: 1.5rem;
        color: var(--main-color);
        text-shadow: 1px 0 1px var(--main-color);
    }
    #home #personal-info-section p {
        color: #5a5a5a;
        padding-left: .3rem;
        font-size: 1rem;
        letter-spacing: 1px;
        word-spacing: 2px;
        text-shadow: 0 0 1px rgb(216, 216, 216);
    }
    #home #personal-info-section .social-media {
        padding-left: .5rem;
        padding-top: 25px;
        color: var(--main-color);
    }
    #home #personal-info-section #cv {
        margin-top: 40px;
        padding-left: .5rem;
    }
    #home #personal-info-section #cv a button {
        cursor: pointer;
        width: 180px;
        height: 50px;
        font-size: 15px;
        color: white;
        background-color: var(--main-color);
        border: 3px solid var(--main-color);
        border-radius: 20px;
        box-shadow: 2px 3px 3px rgb(112, 112, 112);
        transition: .5s all;
    }
    #home #profile-info-right {
        width: 100%;
        
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #home #profile-info-right .profile-info-box1 {
        width: 250px;
        height: 320px;
        background: #754ef9;
        margin: auto;
        border-radius: 50% 10%;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    #home #profile-info-right .profile-info-box1 img {
        left: -20px;
    }
    #about #about-logo span {
        width: 80px;
        font-size: 25px;
    }
    #about #about-img-section {
        width: 100%;
    }
    #about #about-img-section .about-img-box {
        width: 250px;
        height: 300px;
    }
    #about #about-img-section .about-img-box img {
        left: -20px;
    }
    #about #about-profile-section h1 {
        font-size: 1.8rem;
    }
    #about #about-profile-section h3 {
        font-size: 1.5rem;
    }
    #about #about-profile-section p {
        font-size: 1rem;
    }
    #about #about-profile-section #about-readmore-btn a button {
        width: 80px;
        height: 30px;
        font-size: 10px;
    }
    #service #service-logo span {
        width: 90px;
        font-size: 25px;
    }          
    #contact #contact-logo span {   
        width: 90px;
        font-size: 25px;
    }
}
@media only screen and (max-width: 325px){
    #header #header-logo a {
        color: var(--main-color);
        text-shadow: 1px 0 1px rgb(159, 157, 157);
        font-weight: 500;
        font-size: 1rem;
    }
    #home #personal-info-section h3 {
        font-size: 1.3rem;
        margin-bottom: 1.2rem;
        padding-top: 1rem;
    }
    #home #personal-info-section h1 {
        font-size: 1.5rem;
        text-shadow: 1px 0 1px var(--main-color);
        color: var(--main-color);
    }
    #home #personal-info-section h2 {
        font-size: 1.3rem;
        padding-left: .5rem;
        padding-top: .6rem;
    }
    #home #personal-info-section h2 span {
        font-size: 1.4rem;
        color: var(--main-color);
        text-shadow: 1px 0 1px var(--main-color);
    }
    #home #personal-info-section .social-media {
        padding-left: .5rem;
        padding-top: 25px;
        color: var(--main-color);
    }
    #home #personal-info-section .social-media a i{
        margin-right: 5px;
    }
    #home #personal-info-section #cv {
        margin-top: 20px;
        padding-left: .5rem;
    }
    #home #profile-info-right {
        width: 100%;
        height: 100%;
        padding-top: 10%;
        padding-bottom: 10%;
    }
    #home #profile-info-right .profile-info-box1 {
        width: 250px;
        height: 300px;
        background: var(--main-color);
        margin: auto;
        border-radius: 50% 10%;
        overflow: hidden;
        padding: 0;
        position: relative;
    }
    #home #profile-info-right .profile-info-box1 img {
        position: absolute;
        top: -15px;
        left: -10px;
    }
    #about #about-logo span {
        width: 70px;
        font-size: 20px;
    }
    #about #about-img-section {
        width: 100%;
    }
    #about #about-img-section .about-img-box {
        width: 250px;
        height: 300px;       
    }
    #about #about-img-section .about-img-box img {  
        left: -50px;
    }   
    #about #about-profile-section h1 {
        font-size: 1.8rem;
    }
    #about #about-profile-section h3 {
        font-size: 1.5rem;           
    }
    #about #about-profile-section p {
        font-size: 1rem;
    }   
    #about #about-profile-section #about-readmore-btn a button {  
        width: 80px;
        height: 30px;
        font-size: 10px;       
    }
    #service #service-logo span {
        width: 80px;
        font-size: 20px;  
    }
    #service #service-box i {
        font-size: 22px;
    }
    #service #service-box h4 {
        font-size: 20px;
    }
    #service #service-box p {
        font-size: 15px;
    }
    #contact #contact-logo span {
        width: 75px;
        font-size: 20px;
    }
}
.card-img-top {
        max-height: 250px;
        overflow: hidden;
    }

    .card-title a:link {
        font-size: 30px;
        background-color: transparent;
        color: #000000;
        text-decoration: none;
    }

    .card-title a:hover {
        color: red;
        background-color: transparent;
        text-decoration: underline;
    }
